{% load static %}

<footer class="container">
    <div class="row">
        <div class="col-md-12">
            <img id="jb_the_penguin" class="float-left" src="{% static 'img/jbthepenguin.png' %}">
            © Copyright 2019 JBthePenguin - No right reserved
            <a href="https://github.com/JBthePenguin" role="button" onclick="window.open(this.href); return false;">
                <i class="fa fa-github fa-2x text-dark"></i>
            </a>
            <a href="https://twitter.com/JBthePenguin" role="button" onclick="window.open(this.href); return false;">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </div>
    </div>
</footer>