{% load static %}

<header class="container-fluid text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="text-fluid">
                My Trading Bot on <a href="https://www.binance.com/en" class="text-warning" role="button" onclick="window.open(this.href); return false;">Binance market</a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="{% static 'img/cryptomoney.png' %}" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="{% static 'img/logo.png' %}" class="img-fluid"><br>
            {% if bot_is_working %}
                <strong class="text-success">ON</strong>
            {% else %}
                <strong class="text-danger">OFF</strong>
            {% endif %}
        </div>
    </div>   
</header>