{% load static %}

<main class="container">
    <!-- Bank -->
    <div  class="table-responsive-sm text-center">
        <table class="table table-striped table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Bank</th>
                    <th scope="col">Bitcoin</th>
                    <th scope="col">Etherum</th>
                    <th scope="col">Binance coin</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">at the beginning</th>
                    <td>0.0087954 BTC</td>
                    <td>0.0275484 ETH</td>
                    <td>2.09 BNB</td>
                </tr>
                <tr>
                    <th scope="row">at this time</th>
                    <td>0.0089954 BTC</td>
                    <td>0.0274484 ETH</td>
                    <td>2.11 BNB</td>
                </tr>
                <tr>
                    <th scope="row">Profit</th>
                    <td class="text-success">+0.0002 BTC</td>
                    <td class="text-danger">-0.0001 ETH</td>
                    <td class="text-success">+ 0.02 BNB</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!---->
    <!-- Trades completed -->
    <div class="text-center">
        <span id="number-trades">15</span> Trades completed<br>
        <button id="trades" class="btn btn-danger">View all trades completed</button>
        <div id="all-trades"></div>
    </div>
    <!---->
    <!-- Trade in progress -->
    <div class="table-responsive-sm text-center">
        <table class="table">
            <caption>Trade in progress: open the March 3rd 2019 at 22h35 </caption>
            <thead>
                <tr>
                    <th scope="col">Market</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-success">
                    <td>BNB-BTC</td>
                    <td>Sell 2 BNB at 0.003215 BTC</td>
                    <td>Completed</td>
                </tr>
                <tr class="bg-success">
                    <td>BTC-ETH</td>
                    <td>Buy 0.0263 ETH at 0.000142 BTC</td>
                    <td>Completed</td>
                </tr>
                <tr class="bg-danger">
                    <td>BNB-ETH</td>
                    <td>Buy 2.01 BNB at 0.012 ETH</td>
                    <td>Not completed</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!---->
</main>